* {
  margin: 0;
}

.app__header {
	padding: 20px;
	border-bottom: 1px solid lightgray;
	background-color: white;
	display: flex;
	justify-content: space-between;
}

.app__header img {
	object-fit: contain;
}

.app__header .auth__btn {
	font-size: 20px;
	display: flex;
}

.app__header .auth__btn > * {
	font-weight: 520;
	font-size: 14px;
} 

.App {
	background-color: #fafafa;
	height: 100%;
	overflow-x: hidden;
}

.app__signup {
	display: flex;
	flex-direction: column;
}

